.screen {
  display: flex;
  width: 530px;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.screen-white {
  background-color: white;
  width: 230px;
  height: 485px;
  border-radius: 25px;
}
.mainphoto {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.singer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  margin-bottom: 5px;
}
.bold {
  font-weight: bolder;
  font-size: 17px;
  opacity: 0.8;
}
.fade {
  opacity: 0.7;
  font-size: 9px;
}

.two-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  padding-bottom: 5px;
}

.shuffle {
  background-color: #222222;
  color: white;
  display: block;
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  font-size: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgb(207, 205, 205);
}
.heart {
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgb(207, 205, 205);
  padding: 0px 8px;
}

.like-num {
  font-size: 10px;
  line-height: 30px;
}

#music-box {
  list-style: none;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
}

.music-title {
  font-weight: bold;
  font-size: 9px;
  opacity: 0.8;
}

.music {
  width: 230px;
  height: 45px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.music-first {
  display: block;
  height: 10px;
}
.music-info {
  margin-left: 10px;
  width: 120px;
}
.music-info-icon {
  margin-left: 90px;
  opacity: 0.4;
}

.long-title {
  margin-top: 5px;
  display: block;
  width: 120px;
}

.long-title-icon {
  margin-left: 25.5px;
}
.second {
  position: relative;
}
.fa-music {
  position: absolute;
  color: white;
  top: 7px;
  left: 6px;
}

.playbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 16px;
  width: 200px;
  height: 45px;
  background-color: #222222;
  border-radius: 50px;
}
.playbox-music {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.playbox-singer {
  color: #696969;
  font-size: 7px;
}

.playbox-now-music {
  color: white;
  font-size: 8px;
  font-weight: 600;
  margin-right: 5px;
}

.playbox-icon {
  color: white;
  margin: 0px 5px;
}

.fa-pause {
  margin: 0px 10px;
}
